{% extends "base.html" %}

{% block body %}
<div class="row">
    <h1>Lista de Categorias</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% if categorias %}
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descrição</th>
                <th colspan="2" style="textalign:center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categorias %}
            <tr>
                <td>{{ c.nome }}</td>
                <td>{{ c.descricao }}</td>
                <td><a href="{% url 'tarefas:editar_categoria' c.id %}" class="btn btn-info btn-sm">Editar</a></td>
                <td><a href="{% url 'tarefas:delete_categoria' c.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>&nbsp;</p>
    <div class="alert alert-info" role="alert">
        <p>Não há nenhuma categoria cadastrada!</p>
    </div>
    {% endif %}
    <a href="{% url 'tarefas:nova_categoria' %}" class="btn btn-primary" role="button">Adicionar categoria</a>
</div>
{% endblock body %}