{% extends "base.html" %}

{% block body %}
<h1>Nova Categoria</h1>
<div class="row">
    <form class="" action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">Nome</label>
            {{ form.nome }}
        </div>
        <div class="form-group">
            <label for="{{ form.descricao.id_for_label }}">Descrição</label>
            {{ form.descricao }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
{% endblock body %}
